body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: [robert] 2fr [paul] 4fr [friedrich] 3fr [albert];
}

#nr1{
  grid-column-start: 1;
  grid-column-end: 2;
  border-color: green;
}
#nr2{
  grid-column-start: paul;
  grid-column-end: albert;
  border-color: red;
}
#nr3{
  grid-column-start: friedrich;
  grid-column-end: albert;
  border-color: yellow;
}

div{
  border: 1em solid;
}
