body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas:  "head head head head head head"
                        "nav main main main aside aside"
                        "foot foot foot foot foot foot";
  gap: 1px;
}

header{
  grid-area: head;
  border: 1px solid;
}

nav{
  grid-area: nav;
  border: 1px solid;
}

main{
  grid-area: main;
  border: 1px solid;
}

aside{
  grid-area: aside;
  border: 1px solid;
}

footer{
  grid-area: foot;
  border: 1px solid;
}

